@font-face {
  font-family: 'ProximaNova';
  font-weight: normal;
  font-style: normal;
  src: url('../weebly_assets/font/ProximaNova-Reg.otf') format('opentype');
  /* Modern Browsers */ }

@font-face {
  font-family: 'ProximaNova';
  font-style: italic;
  font-weight: normal;
  src: url('../weebly_assets/font/ProximaNova-RegIt.otf') format('opentype');
  /* Modern Browsers */ }

@font-face {
  font-family: 'ProximaNova';
  font-weight: lighter;
  font-style: normal;
  src: url('../weebly_assets/font/ProximaNova-Light.otf') format('opentype');
  /* Modern Browsers */ }

@font-face {
  font-family: 'ProximaNova';
  font-weight: lighter;
  font-style: italic;
  src: url('../weebly_assets/font/ProximaNova-LightIt.otf') format('opentype');
  /* Modern Browsers */ }

@font-face {
  font-family: 'ProximaNova';
  font-weight: bold;
  font-style: normal;
  src: url('../weebly_assets/font/ProximaNova-Sbold.otf') format('opentype');
  /* Modern Browsers */ }

@font-face {
  font-family: 'VAGRoundedStd';
  font-weight: bold;
  font-style: normal;
  src: url('../weebly_assets/font/VAGRoundedStd-Bold.otf') format('opentype');
  /* Modern Browsers */ }

@font-face {
  font-family: 'VAGRoundedStd';
  font-weight: normal;
  font-style: normal;
  src: url('../weebly_assets/font/VAGRoundedStd-Light.otf') format('opentype');
  /* Modern Browsers */ }

@font-face {
  font-family: 'VAGRoundedStd';
  font-weight: lighter;
  font-style: normal;
  src: url('../weebly_assets/font/VAGRoundedStd-Thin.otf') format('opentype');
  /* Modern Browsers */ }

.page-element {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  float: left; }
  .page-element.dynamic {
    position: relative; }
    .page-element.dynamic.border-top {
      border-top: 2px dashed #7fc1ff;
      padding-top: 18px; }
  .page-element.border-bottom {
    border-bottom: 2px dashed #7fc1ff;
    padding-bottom: 18px; }
  .page-element .image {
    text-align: center; }
    .page-element .image.empty {
      min-height: 280px;
      background: #eff2f5;
      border: 2px solid #c0ccd8;
      border-radius: 4px; }
      .page-element .image.empty .placeholder {
        margin-top: 74px; }
        .page-element .image.empty .placeholder .muted {
          font-size: 14px;
          text-transform: uppercase;
          color: #c0ccd8; }
      .page-element .image.empty.delete {
        border-color: #ef7a74;
        background: #FDDEDC; }
  .page-element .title {
    font-size: 32px; }
  .page-element .text {
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.5; }
  .page-element textarea, .page-element .textarea {
    width: 100%;
    outline: none;
    border-radius: 4px;
    margin-left: -4px;
    border: 2px solid #7fc1ff;
    padding: 20px;
    font-family: "ProximaNova", Helvetica, Arial, sans-serif; }
  .page-element input[type='text'], .page-element .input-text {
    color: #4f657b;
    width: 100%;
    outline: none;
    margin-left: -4px;
    border: 2px solid #7fc1ff;
    border-radius: 4px; }
    .page-element input[type='text'].delete, .page-element .input-text.delete {
      border-color: #ef7a74; }
  .page-element .delete-element {
    background: url('../weebly_assets/sprites/Delete-Element.png');
    width: 42px;
    height: 42px;
    position: absolute;
    top: 20px;
    z-index: 90;
    background-position: -5px -10px; }
    .page-element .delete-element.title {
      right: -2px; }
    .page-element .delete-element.text {
      right: 4px;
      top: 0; }
    .page-element .delete-element.image {
      background-position-x: -91px;
      right: 0; }
    .page-element .delete-element.confirm {
      background-position: -48px -10px; }
  .page-element .ui-wrapper .ui-resizable-handle {
    background: url('/weebly_assets/sprites/Resize-Bar.png') -6px -5px;
    border-radius: 11px; }
    .page-element .ui-wrapper .ui-resizable-handle.ui-resizable-e {
      top: 50%;
      right: 3px;
      margin-top: -20px;
      height: 40px;
      width: 4px; }
    .page-element .ui-wrapper .ui-resizable-handle.ui-resizable-w {
      top: 50%;
      left: 3px;
      margin-top: -20px;
      height: 40px;
      width: 4px; }
    .page-element .ui-wrapper .ui-resizable-handle.ui-resizable-s {
      background-position: -21px -6px;
      bottom: 3px;
      left: 50%;
      margin-left: -20px;
      height: 4px;
      width: 40px; }
  .page-element .ui-wrapper.delete .ui-resizable-handle {
    background-position-y: -55px; }
  .page-element .ui-wrapper.delete textarea, .page-element .ui-wrapper.delete .textarea {
    border-color: #ef7a74; }

/* Variables */
body {
  background: #ffffff;
  font-family: "ProximaNova", Helvetica, Arial, sans-serif;
  color: #4f657b;
  margin: 0;
  padding-top: 40px;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0; }

.dragging {
  position: absolute;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3); }

.container {
  height: 100%; }

.full-width {
  width: 100%;
  float: left; }

.half-width {
  width: 50%;
  float: left; }

.pull-right {
  float: right; }

.transition-height {
  -webkit-transition: 0.6s ease height;
  transition: 0.6s ease height; }

.button {
  cursor: pointer;
  padding: 10px 40px;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 13px;
  font-weight: bolder; }
  .button .weebly-icon.pull-right {
    margin-right: -5px;
    margin-top: 1px; }
  .button .fade {
    opacity: 0.5;
    transition: opacity ease 0.4s; }
  .button .hover-show {
    display: none; }
  .button:hover .fade {
    opacity: 1; }
  .button:hover .hover-show {
    display: block; }
  .button.primary {
    background: #518dca;
    border: 1px solid #6399cf;
    color: #ffffff;
    box-shadow: 0px 2px 1px 0px #1a2733; }
  .button.secondary {
    background: #97aabc;
    border: 2px solid #8498ac;
    color: #ffffff; }
  .button.tertiary {
    border: 2px solid #4f657b; }

input[type='text'] {
  background: none;
  color: #ffffff;
  outline: 0; }
  input[type='text']::-webkit-input-placeholder {
    color: #4f657b; }
  input[type='text']:-moz-placeholder {
    /* Firefox 18- */
    color: #4f657b; }
  input[type='text']::-moz-placeholder {
    /* Firefox 19+ */
    color: #4f657b; }
  input[type='text']:-ms-input-placeholder {
    color: #4f657b; }
  input[type='text']:focus + .focus-blue {
    background-position-y: -70px; }

.input-with-icon {
  position: relative; }
  .input-with-icon .weebly-icon {
    position: absolute;
    top: 11px;
    right: 10px; }
  .input-with-icon .fade {
    opacity: 0.5;
    transition: opacity ease 0.4s; }
  .input-with-icon:hover .fade {
    opacity: 1; }
  .input-with-icon input:focus + .fade.weebly-icon {
    opacity: 1; }
  .input-with-icon input[type='submit'].weebly-icon {
    border: 0;
    text-indent: -999px; }

#title-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
  height: 40px;
  background: #518dca;
  box-shadow: 0px 0px 1px 1px #1a2733; }

#page-drawer {
  float: left;
  width: 235px;
  height: 100%;
  background: #2c3e50;
  text-transform: uppercase;
  text-align: center;
  font-weight: lighter; }
  #page-drawer #pages {
    max-height: 250px;
    overflow-y: auto; }
  #page-drawer .button {
    display: block;
    padding: 8px 13px 8px 18px;
    margin-bottom: 8px;
    width: 145px; }
    #page-drawer .button:last-child {
      margin-bottom: 0; }
    #page-drawer .button .weebly-icon {
      margin-top: 1px;
      margin-left: 2px; }
    #page-drawer .button.delete .weebly-icon {
      display: none; }
      #page-drawer .button.delete .weebly-icon.delete {
        display: inline-block; }
    #page-drawer .button.primary {
      background: #4f657b;
      border-color: #5D7288; }
      #page-drawer .button.primary.selected {
        background: #518dca;
        border: 1px solid #6399cf;
        color: #ffffff;
        box-shadow: 0px 1px 1px 0px #1a2733; }
      #page-drawer .button.primary.delete {
        background: #d86a65;
        border: 1px solid #161f26; }
  #page-drawer input[type='text'].button {
    padding: 7px 12px 7px 17px; }
  #page-drawer .header {
    background: #4f657b;
    color: #9cb3ca;
    padding: 8px 0 7px;
    font-size: 13px;
    font-weight: bolder;
    border-top: solid 2px #1a2733;
    border-bottom: solid 2px #1a2733;
    float: left;
    width: 100%; }
  #page-drawer .section {
    float: left; }
    #page-drawer .section.clickable {
      background: #34485c;
      cursor: move; }
      #page-drawer .section.clickable:hover {
        background: #3b5064; }
      #page-drawer .section.clickable.half-width:nth-child(-n+2) {
        box-shadow: inset 0 20px 20px -20px #1a2733; }
      #page-drawer .section.clickable.half-width:nth-child(n+3) .container {
        border-top: solid 1px #4f657b; }
      #page-drawer .section.clickable.half-width:nth-child(even) .container {
        border-left: solid 1px #4f657b; }
      #page-drawer .section.clickable.half-width:nth-last-child(n+3) .container {
        border-bottom: solid 2px #21313f; }
      #page-drawer .section.clickable.half-width:nth-child(odd) .container {
        border-right: solid 2px #21313f; }
    #page-drawer .section .container {
      padding: 25px 30px; }
      #page-drawer .section .container.skinny {
        padding: 20px 20px 12px; }
      #page-drawer .section .container.settings-row {
        height: 25px;
        padding: 15px 14px 12px;
        border-bottom: solid 2px #21313f; }
        #page-drawer .section .container.settings-row p {
          margin-top: 3px; }
  #page-drawer .button {
    text-align: left; }
  #page-drawer .element {
    font-size: 13px;
    font-weight: bolder; }
    #page-drawer .element p {
      margin-bottom: 0;
      margin-top: 5px; }
    #page-drawer .element .element-icon {
      margin: 0 auto; }
  #page-drawer .checkbox-slider {
    overflow: hidden;
    border-radius: 10px;
    width: 50px;
    height: 21px;
    background: url('../weebly_assets/sprites/Toggle-Switch.png');
    background-position: -6px -7px; }
    #page-drawer .checkbox-slider.center {
      margin: 0 auto; }
    #page-drawer .checkbox-slider input[type=checkbox] {
      display: none; }
      #page-drawer .checkbox-slider input[type=checkbox]:checked + label {
        left: 0; }
      #page-drawer .checkbox-slider input[type=checkbox]:disabled + label {
        display: none; }
    #page-drawer .checkbox-slider label {
      -webkit-transition: 0.3s ease all;
      transition: 0.3s ease all;
      display: block;
      position: relative;
      left: -29px;
      width: 80px;
      height: 21px;
      background: url('../weebly_assets/sprites/Toggle-Switch.png'), url('../weebly_assets/sprites/Toggle-Switch.png');
      background-position: -6px -57px, 23px -32px;
      background-repeat: no-repeat; }

#main-container {
  background: #ffffff;
  position: absolute;
  top: 40px;
  left: 235px;
  overflow-y: auto;
  right: 0;
  bottom: 0;
  padding: 40px; }
  #main-container #page-tabs {
    margin-bottom: 30px; }
    #main-container #page-tabs .button {
      margin-left: 5px;
      background: none;
      border: 2px solid #97aabc;
      color: #97aabc; }
      #main-container #page-tabs .button:first-child {
        margin-left: 0; }
      #main-container #page-tabs .button.selected {
        background: #97aabc;
        border: 2px solid #8498ac;
        color: #ffffff; }

.weebly-icon.element {
  background: url('../weebly_assets/sprites/Element-Icons.png');
  width: 52px;
  height: 54px;
  margin: 0 auto; }
  .weebly-icon.element[element-type="title"] {
    background-position: -9px -8px; }
  .weebly-icon.element[element-type="text"] {
    background-position: -63px -8px; }
  .weebly-icon.element[element-type="image"] {
    background-position: -117px -8px; }
  .weebly-icon.element[element-type="nav"] {
    background-position: -171px -8px; }
.weebly-icon.add, .weebly-icon.edit, .weebly-icon.delete {
  background: url('../weebly_assets/sprites/Add-Delete-Edit-Icons.png');
  background-position-y: -32px;
  width: 15px;
  height: 14px;
  display: inline-block; }
  .weebly-icon.add.add, .weebly-icon.edit.add, .weebly-icon.delete.add {
    background-position-x: -13px; }
  .weebly-icon.add.edit, .weebly-icon.edit.edit, .weebly-icon.delete.edit {
    background-position-x: -32px; }
  .weebly-icon.add.delete, .weebly-icon.edit.delete, .weebly-icon.delete.delete {
    background-position-x: -51px; }
  .weebly-icon.add.disabled, .weebly-icon.edit.disabled, .weebly-icon.delete.disabled {
    background-position-y: -51px; }
  .weebly-icon.add.blue, .weebly-icon.edit.blue, .weebly-icon.delete.blue {
    background-position-y: -70px; }
  .weebly-icon.add.fade, .weebly-icon.edit.fade, .weebly-icon.delete.fade {
    background-position-y: -13px; }

.fade-in {
  -webkit-animation: fadein 0.5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s;
  /* Firefox < 16 */
  -ms-animation: fadein 0.5s;
  /* Internet Explorer */
  -o-animation: fadein 0.5s;
  /* Opera < 12.1 */
  animation: fadein 0.5s; }

@keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

/*# sourceMappingURL=main.css.map */